page-competences {

  ion-card {
    text-align: center;
    color: #007aff;
    font-weight: bold;
  }

  ion-content ion-icon {
    font-size: xx-large;
    position: relative;
    left: 70px;
  }

  ion-content p {
    font-weight: 30px;
  }

}
